@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-SemiBold.ttf");
    font-weight: 600;
}
