.desktop-header {
    display:none;
}

/* 
#
# Mobile header
#
*/

.mobile-header {
    padding:3rem 2rem;
    display: flex;
    justify-content: space-between;
}

/* Animated burger button */
#burger-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#burger-btn:hover {
    cursor:pointer;
}

#burger-btn span {
    width:2em;
    height:0.15em;
    margin:0.2em;
    border-radius: 5px;

    background:var(--white);
    
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

#burger-btn span:first-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

#burger-btn span:nth-child(2) {
    opacity: 1;
    transition: opacity, 0.1s;
    transition-delay: 0.3s;
}

#burger-btn span:last-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

#burger-btn.open span:first-child  {
    transform: rotateZ(-45deg) translate(-0.2em, -0.4em);
    transform-origin: 100%;
}

#burger-btn.open span:nth-child(2) {
    opacity: 0;
    transition: opacity, 0.1s;
}

#burger-btn.open span:last-child {
    transform: rotateZ(45deg) translate(-0.2em, 0.4em);
    transform-origin: 100%;
}


/* mobile slide out menu */
#mobile-menu {
    width:90vw;
    padding:0rem 2rem;
    border-radius:5px;
    top:9rem;
    left:101vw;

    position: absolute;
    display: flex;
    flex-direction: column;
    
    background: var(--white);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    
    transition: left 0.5s;
}

#mobile-menu.open {
    left:5vw;
    transition: left 0.5s;
}

.mobile-header-nav-container {
    padding: 1rem;
    border-bottom: 1px solid var(--grayish-blue);

    display: flex;
    flex-direction: column;
}

.mobile-menu-btn-container {
    padding:2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.btn.mobile-header-btn {
    padding:0.75rem 2.5rem;
    color: var(--white);

    background: var(--very-light-red);
    background: linear-gradient(129deg, var(--very-light-red-gradient), var(--light-red-gradient));
}

.mobile-header-nav {
    max-height: 0;
    padding:0rem;
    border-radius:5px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.75rem;

    background: hsl(240, 2%, 95%);

    transition:padding 0.3s ease-out, max-height 0.3s ease-out;
}

.mobile-header-nav-heading {
    padding:0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    
    font-size:1.25rem;
}

.mobile-header-nav-arrow {
    font-size:1rem;
    line-height:1.5; /* overriding font awesome css */
    color: var(--light-red);
    transition: 0.3s;
}

.mobile-header-nav-heading.open .mobile-header-nav-arrow {
    transform: rotate(180deg);
    transition: 0.3s;
}

.mobile-header-nav a {
    font-family: "Overpass";
    font-size:1rem;
    font-weight: bold;
    color: hsl(208, 49%, 34%);
}

/*
#
# Desktop header
#
*/
@media (min-width: 1024px) { 
    .mobile-header {
        display:none;
    }

    .desktop-header {
        padding:3rem 10vw;
        display:flex;
        justify-content: space-between;
    }

    .desktop-header-left {
        display: flex;
        align-items: center;
        gap:2rem;
    }

    .desktop-header-nav-container {
        display: flex;
    }

    .desktop-header-nav-section:hover .desktop-header-nav {
        visibility: visible;
    }

    .desktop-header-nav-section:hover .desktop-header-nav-heading span {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    .desktop-header-nav-arrow {
        font-size:0.75rem;
        line-height:1.5; /* overriding font awesome css */
        transition: 0.3s;
    }

    .desktop-header-nav-section:hover .desktop-header-nav-arrow {
        transform: rotate(180deg);
        transition: 0.3s;
    }

    .desktop-header-nav-heading:hover {
        cursor:pointer;
    }

    .desktop-header-nav-heading {
        padding:1.5rem;

        display: flex;
        align-items: center;
        gap:0.5rem;

        color: var(--white);
        font-weight: bold;
    }

    .desktop-header-nav {
        width:10rem;
        padding:1.5rem 1.5rem;
        border-radius:5px;

        position:absolute;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        gap:0.5rem;

        background: var(--white);
    }

    .desktop-header-nav a:hover {
        font-weight: bold;
    }

    .desktop-header-right {
        display: flex;
        gap:2rem;
        align-items: center;

        color: var(--white);
    }

    .btn.desktop-header-btn {
        padding:0.75rem 2.5rem;
        color: var(--light-red);
        background: var(--white);
    }

    .btn.desktop-header-btn:hover {
        color: var(--white);
        background: var(--very-light-red);
    }
    

}


